Repository govuk-one-login/ipv-cri-ts-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  language: system
  entry: npx prettier --check

eslint:
  name: ESLint
  language: system
  entry: npx eslint

fix: Resolve log message bug
  packages/cri-error-response/src/index.ts
  packages/cri-error-response/tests/index.test.ts
Due: prettier, eslint

chore(release): publish
  package-lock.json
  packages/cri-error-response/CHANGELOG.md
  packages/cri-error-response/package.json
Due: prettier

chore: Bump nx dependencies
  package-lock.json
  package.json
Due: prettier

chore: Fix shell-quote vulnerability
  package-lock.json
Due: none

feat(types): Added sessionData to SessionItem
  packages/cri-types/src/session-item.ts
Due: prettier, eslint

chore(release): publish
  package-lock.json
  packages/cri-audit/CHANGELOG.md
  packages/cri-audit/package.json
  packages/cri-types/CHANGELOG.md
  packages/cri-types/package.json
Due: prettier

chore: Upgrade quality-gate.manifest.json to v11
  quality-gate.manifest.json
Due: prettier

chore: Fix links to jobs and steps
  quality-gate.manifest.json
Due: prettier

feat: Restructure to use new automated executionType
  quality-gate.manifest.json
Due: prettier

feat: Restructure to use new check object structure
  quality-gate.manifest.json
Due: prettier

fix: Correct promotionType and phase
  quality-gate.manifest.json
Due: prettier

feat: Add product and component, and remove serviceTag
  quality-gate.manifest.json
Due: prettier

feat: Update manifest files to use scopes and purpose
  quality-gate.manifest.json
Due: prettier

chore: Update manifest schema version for v.0.18.0
  quality-gate.manifest.json
Due: prettier

chore: Update manifest schema version for v.0.19.0
  quality-gate.manifest.json
Due: prettier

feat: Flatten file and path from config
  quality-gate.manifest.json
Due: prettier

chore: format AQG manifest
  quality-gate.manifest.json
Due: prettier

fix: OJ-3920 - update vulnerabilities add override until nx new version
  package-lock.json
  package.json
Due: prettier

feat: add reusable CRI healthcheck assertion package
  packages/cri-healthcheck-assertion/README.md
  packages/cri-healthcheck-assertion/package.json
  packages/cri-healthcheck-assertion/src/assert-healthcheck.ts
  packages/cri-healthcheck-assertion/src/index.ts
  packages/cri-healthcheck-assertion/src/stringify-error.ts
  packages/cri-healthcheck-assertion/tests/assert-healthcheck.test.ts
  packages/cri-healthcheck-assertion/tsconfig.json
Due: prettier, eslint

fix
  package-lock.json
Due: none

fix build failure
  packages/cri-healthcheck-assertion/src/stringify-error.ts
Due: prettier, eslint

fix: resolve coverage and pre-commit issues
  packages/cri-healthcheck-assertion/README.md
  packages/cri-healthcheck-assertion/package.json
  packages/cri-healthcheck-assertion/src/assert-healthcheck.ts
  packages/cri-healthcheck-assertion/src/index.ts
  packages/cri-healthcheck-assertion/src/stringify-error.ts
  packages/cri-healthcheck-assertion/tests/assert-healthcheck.test.ts
  packages/cri-healthcheck-assertion/vitest.config.ts
Due: prettier, eslint

fix: resolve coverage and pre-commit issues
  sonar-project.properties
Due: prettier

fix: remove stringfy error and update test
  packages/cri-healthcheck-assertion/src/assert-healthcheck.ts
  packages/cri-healthcheck-assertion/src/stringify-error.ts
  packages/cri-healthcheck-assertion/tests/assert-healthcheck.test.ts
Due: prettier, eslint

test: add validation function failure scenario
  packages/cri-healthcheck-assertion/tests/assert-healthcheck.test.ts
Due: prettier, eslint

fix: update error handling
  packages/cri-healthcheck-assertion/src/assert-healthcheck.ts
Due: prettier, eslint

chore: align cri-healthcheck-assertion with package scaffold
  packages/cri-healthcheck-assertion/tsconfig.json
  packages/cri-healthcheck-assertion/vitest.config.ts
Due: prettier

chore(release): publish
  package-lock.json
  packages/cri-healthcheck-assertion/CHANGELOG.md
  packages/cri-healthcheck-assertion/package.json
Due: prettier

fix: update healthcheck vitest and ts configs to symlink the bases
  eslint.config.mjs
  nx.json
  packages/cri-healthcheck-assertion/tsconfig.json
  packages/cri-healthcheck-assertion/vitest.config.ts
Due: prettier

feat: implement `cri-token-rotator` package
  package-lock.json
  package.json
  packages/cri-token-rotator/README.md
  packages/cri-token-rotator/package.json
  packages/cri-token-rotator/src/client/dynamo-token-repository.ts
  packages/cri-token-rotator/src/error/token-rotation-errors.ts
  packages/cri-token-rotator/src/index.ts
  packages/cri-token-rotator/src/model/token-credentials.ts
  packages/cri-token-rotator/src/model/token-entity.ts
  packages/cri-token-rotator/src/model/token-repository.ts
  packages/cri-token-rotator/src/model/token-rotation-strategy.ts
  packages/cri-token-rotator/src/service/token-retrieval-service.ts
  packages/cri-token-rotator/src/service/token-rotation-service.ts
  packages/cri-token-rotator/src/util/parse-refresh-window.ts
  packages/cri-token-rotator/src/util/token-expiry.ts
  packages/cri-token-rotator/tests/client/dynamo-token-repository.test.ts
  packages/cri-token-rotator/tests/service/token-retrieval-service.test.ts
  packages/cri-token-rotator/tests/service/token-rotation-service.test.ts
  packages/cri-token-rotator/tests/util/parse-refresh-window.test.ts
  packages/cri-token-rotator/tsconfig.json
  packages/cri-token-rotator/vitest.config.ts
  sonar-project.properties
Due: prettier, eslint

feat: make profile available to strategies
  packages/cri-token-rotator/src/model/token-rotation-strategy.ts
  packages/cri-token-rotator/src/service/token-rotation-service.ts
  packages/cri-token-rotator/tests/service/token-rotation-service.test.ts
Due: prettier, eslint

feat!: prepare `cri-token-rotator` for v1
  package-lock.json
  packages/cri-token-rotator/README.md
  packages/cri-token-rotator/package.json
Due: prettier

chore(release): publish
  package-lock.json
  packages/cri-token-rotator/CHANGELOG.md
  packages/cri-token-rotator/package.json
Due: prettier

fix: OJ-3936 - update security vulnerabilities
  package-lock.json
Due: none

feat!: make dynamo token repository truly optional
  package-lock.json
  packages/cri-token-rotator/README.md
  packages/cri-token-rotator/package.json
  packages/cri-token-rotator/src/dynamodb.ts
  packages/cri-token-rotator/src/index.ts
  packages/cri-token-rotator/tests/client/dynamo-token-repository.test.ts
Due: prettier, eslint

chore: fix issue where nx will not version a 0.0.0 package as expected
  nx.json
Due: prettier

Path conditions:
  prettier: any of: ^.*$ and not ((?x)^(
  package-lock\.json|
  LICENSE|
  \.npmrc|
  \.secrets\.baseline|
  \.git/.+
)$
) and not ((?:\/|^)(?:\.nx|dist)\/.*)
  eslint: any of: ^.+/(?:src|tests)/.+\.[jt]sx?$, but not: (?:\/|^)(?:\.nx|dist)\/.*
