Repository govuk-one-login/ipv-cri-ts-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  language: system
  entry: npx prettier --check

eslint:
  name: ESLint
  language: system
  entry: npx eslint

docs: Update dependency section in README
  README.md
Due: prettier

chore(release): publish
  package-lock.json
  packages/cri-audit/CHANGELOG.md
  packages/cri-audit/package.json
  packages/cri-logger/CHANGELOG.md
  packages/cri-logger/package.json
  packages/cri-metrics/CHANGELOG.md
  packages/cri-metrics/package.json
  packages/cri-test-metrics-helpers/CHANGELOG.md
  packages/cri-test-metrics-helpers/package.json
  packages/cri-test-resources-helpers/CHANGELOG.md
  packages/cri-test-resources-helpers/package.json
  packages/cri-types/CHANGELOG.md
  packages/cri-types/package.json
Due: prettier

fix: Correct variable name
  packages/cri-test-metrics-helpers/src/index.ts
Due: prettier, eslint

ci: Prompt to manually create packages when releasing for the first time
  .github/workflows/publish.yml
Due: prettier

chore(release): publish
  package-lock.json
  packages/cri-metrics/CHANGELOG.md
  packages/cri-metrics/package.json
  packages/cri-test-metrics-helpers/CHANGELOG.md
  packages/cri-test-metrics-helpers/package.json
Due: prettier

feat: Create new cri-error-response package
  package-lock.json
  packages/cri-error-response/README.md
  packages/cri-error-response/package.json
  packages/cri-error-response/src/cri-error.ts
  packages/cri-error-response/src/index.ts
  packages/cri-error-response/tests/index.test.ts
  packages/cri-error-response/tsconfig.json
  packages/cri-error-response/vitest.config.ts
  sonar-project.properties
Due: prettier, eslint

feat!: Prepare cri-error-response for v1
  packages/cri-error-response/README.md
Due: prettier

chore(release): publish
  package-lock.json
  packages/cri-error-response/CHANGELOG.md
  packages/cri-error-response/package.json
Due: prettier

fix: resolve security vulnerabilities
  package-lock.json
  package.json
Due: prettier

fix: update dependencies
  package-lock.json
  package.json
Due: prettier

feat: OJ-3536 - add cloudformation-helper package
  packages/cri-cloudformation-helpers/README.md
  packages/cri-cloudformation-helpers/package.json
  packages/cri-cloudformation-helpers/src/aws-helper.ts
  packages/cri-cloudformation-helpers/src/index.ts
  packages/cri-cloudformation-helpers/src/stack-output.ts
  packages/cri-cloudformation-helpers/tests/aws-helper.test.ts
  packages/cri-cloudformation-helpers/tests/stack-output.test.ts
  packages/cri-cloudformation-helpers/tsconfig.json
  packages/cri-cloudformation-helpers/vitest.config.ts
Due: prettier, eslint

chore: fix security vulnerabilities
  package-lock.json
  package.json
Due: prettier

chore: OJ-3536: add package to sonarcloud
  sonar-project.properties
Due: prettier

fix: increase sonarcloud coverage
  packages/cri-cloudformation-helpers/tests/stack-output.test.ts
Due: prettier, eslint

refactor: OJ-3536 - refactor cloudformation-helper files
  packages/cri-cloudformation-helpers/README.md
  packages/cri-cloudformation-helpers/src/aws-helper.ts
  packages/cri-cloudformation-helpers/src/index.ts
  packages/cri-cloudformation-helpers/src/stack-output.ts
  packages/cri-cloudformation-helpers/tests/aws-helper.test.ts
  packages/cri-cloudformation-helpers/tests/index.test.ts
Due: prettier, eslint

chore: OJ-3536 - remove unused dependency
  package-lock.json
  package.json
Due: prettier

feat!: OJ-3536 - small wording change to enable cloudformation-helpers
  packages/cri-cloudformation-helpers/README.md
Due: prettier

chore(release): publish
  package-lock.json
  packages/cri-cloudformation-helpers/CHANGELOG.md
  packages/cri-cloudformation-helpers/package.json
Due: prettier

fix: reverted README changes
  packages/cri-cloudformation-helpers/README.md
Due: prettier

test
  README.md
Due: prettier

test
  packages/cri-logger/src/index.ts
Due: prettier, eslint

chore(deps): npm audit fix
  package-lock.json
Due: none

chore: Upgrade & fully configure ESLint
  .pre-commit-config.yaml
  eslint.config.mjs
  package-lock.json
  package.json
  packages/cri-audit/integration-tests/index.test.ts
  packages/cri-audit/package.json
  packages/cri-cloudformation-helpers/package.json
  packages/cri-error-response/package.json
  packages/cri-logger/package.json
  packages/cri-metrics/package.json
  packages/cri-test-metrics-helpers/package.json
  packages/cri-test-resources-helpers/package.json
  packages/cri-types/package.json
  scripts/new-package-template/template-package.json
Due: prettier

chore: Fix dependabot config to use conventional commits
  .github/dependabot.yml
Due: prettier

fix: Pin NPM in action due to bug, bumps some deps
  .github/actions/install-and-build/action.yml
  package-lock.json
  package.json
Due: prettier

fix: Install esbuild in metrics integration tests script
  packages/cri-metrics/integration-tests/deploy.sh
Due: prettier

fix: Bump nx for axios vuln
  package-lock.json
  package.json
Due: prettier

Change CODEOWNERS from ID-SRE to REX
  CODEOWNERS
Due: prettier

chore: Bump nx to resolve axios vulnerability
  package-lock.json
  package.json
Due: prettier

chore: Add integration tests to quality gates manifest
  quality-gate.manifest.json
Due: prettier

feat(logger): export injectLambdaContext middleware api
  .gitignore
  packages/cri-logger/src/index.ts
Due: prettier, eslint

feat(metrics): export logMetrics middleware api
  packages/cri-metrics/src/index.ts
  packages/cri-metrics/tests/index.test.ts
Due: prettier, eslint

chore(release): publish
  package-lock.json
  packages/cri-audit/CHANGELOG.md
  packages/cri-audit/package.json
  packages/cri-error-response/CHANGELOG.md
  packages/cri-error-response/package.json
  packages/cri-logger/CHANGELOG.md
  packages/cri-logger/package.json
  packages/cri-metrics/CHANGELOG.md
  packages/cri-metrics/package.json
  packages/cri-test-metrics-helpers/CHANGELOG.md
  packages/cri-test-metrics-helpers/package.json
  packages/cri-test-resources-helpers/CHANGELOG.md
  packages/cri-test-resources-helpers/package.json
Due: prettier

feat(metrics): capture metrics with custom dimensions
  packages/cri-metrics/README.md
  packages/cri-metrics/integration-tests/index.test.ts
  packages/cri-metrics/integration-tests/stack/handler/index.ts
  packages/cri-metrics/src/index.ts
  packages/cri-metrics/tests/index.test.ts
Due: prettier, eslint

chore(release): publish
  package-lock.json
  packages/cri-metrics/CHANGELOG.md
  packages/cri-metrics/package.json
Due: prettier

fix: OJ-3694 - update dependecies to fix vulnerabilities
  package-lock.json
  package.json
Due: prettier

fix: OJ-3694 - update critical vulnerability
  package-lock.json
Due: none

fix: Resolve vulns
  package-lock.json
  package.json
Due: prettier

chore: Resolve vulnerabilities in nx dev deps
  package-lock.json
  package.json
Due: prettier

Path conditions:
  prettier: any of: ^.*$ and not ((?x)^(
  package-lock\.json|
  LICENSE|
  \.npmrc|
  \.secrets\.baseline|
  \.git/.+
)$
) and not ((?:\/|^)(?:\.nx|dist)\/.*)
  eslint: any of: ^.+/(?:src|tests)/.+\.[jt]sx?$, but not: (?:\/|^)(?:\.nx|dist)\/.*
